body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
  height: 4000px;
}

nav li:last-child a:hover {
  color: #FE5F1E;
}

nav li a {
  transition: sall 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #f2eeee;
}

.size {
  background: #f2eeee;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}
